html{
background-image:url("tailedbeasr.jpg");
}

.demo{
  text-align:left;
}
.font{
  text-align:top center;
}
.bootstrap{
  text-align:top right;
}
.header{
  text-align:center;
}.update{
  text-align:center;
}
