html{
background-image:url("tailedbeasr.jpg");
}

.demo{
  text-align:left;
}
.font{
  text-align: center;
}
.bootstrap{
  text-align: right;
}
.header{
  text-align:center;
}.update{
  text-align:center;
}
