

html{
background-image:url("tailedbeasr.jpg");
background-size: cover;
background-repeat: no-repeat;
 width: 1090.4px;
 height:300px;
}
.top{
display:inline-block;
}
.header{
  text-align:center;
}.update{
  text-align:center;
}
#css{
  text-align:left;
}
#font{
  text-align:center;
}
#bootstrap{
  text-align:right;
}
